@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-display: "Fraunces", serif;
    --font-handwriting: "Caveat", serif;
}

.notebook-lines {
    line-height: 2rem;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(2rem - 1px),
        #93c5fd 2rem
    );
    background-size: 100% 2rem;
}
.notebook-lines * {
    line-height: 2rem !important;
}

.notebook-lines img {
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing var(--speed, 1.5s) steps(var(--chars, 10), end) forwards, blink 0.8s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: calc(var(--chars) * 1ch);
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.fade-in {
    animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-delay {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: var(--downtime, 0s);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
