---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Aria Noroozi" bgColor="bg-red-200">
    <h1 class="items-center justify-center text-center position: fixed top-20">I like to go running a lot I guess.</h1>
</Layout>