---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map(projects => ({
        params: { slug: projects.id },
        props: { projects },
    }));
}

const { projects } = Astro.props;
const { Content } = await render(projects);
---
<Layout title="Aria's Blog" bgColor="bg-black">
    <article style="max-width: 700px; margin: 0 auto; padding; 2rem 1rem;">
        <h1 class="text-green-400 font-mono">{projects.data.title}</h1>
        <p class="text-green-400 font-mono">{projects.data.tags}</p>
        <Content class="text-green-400 font-mono" />
    </article>
</Layout>